﻿@model CoupaDownload.Models.Invoice

<style type="text/css">
    a.notification, a.notification:hover, a.notification:visited {
        color: red;
        text-decoration: underline;
    }

</style>

@Html.Partial("HeaderView")

<div class="masterDivDetail" style="">
    @{
        if (ViewBag.Error == null)
        {
            <div style="text-align:center;margin-left:auto;margin-right:auto;color:red;margin-top:10px;">Files will be returned as a .zip file. In order to open this with iOS, you must download an app from the App Store first such as ZipViewer or WinZip.</div>

            if (ViewBag.Message2 != null)
            {
                @Html.Partial("Download")
            }
            else
            {

                using (Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "thisform", name = "thisform" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4 style="font-weight:bold;color:red;">
                            @ViewBag.Message
                        </h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">Job Number <span style="font-weight:bold;color:red;">*</span></label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.jobnumber, new { @class = "form-control", @style = "display:inline-block" })
                                <img style="display:inline-block;" id="searchbutton" src="/Images/search.png" onclick="showjobsearch();" />
                                @Html.ValidationMessageFor(model => model.jobnumber, "", new { @class = "text-danger", @style = "font-weight:bold;" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Invoice Number</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.invoicenumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.invoicenumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Vendor ID</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.vendor, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.vendor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Cost Code</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.costcode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.costcode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">GL Start Date</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.gldatestart, new { @class = "form-control", data_val_date = "Not a correct date format.", style = "width:145px;", Value = String.Format("{0:MM/dd/yyyy}",Model.gldatestart) })
                                @Html.ValidationMessageFor(model => model.gldatestart, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">GL End Date</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.gldateend, new { @class = "form-control", data_val_date = "Not a correct date format.", style = "width:145px;", Value = String.Format("{0:MM/dd/yyyy}", Model.gldateend) })
                                @Html.ValidationMessageFor(model => model.gldateend, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Invoice Start Date</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.invoicedatestart, new { @class = "form-control", data_val_date = "Not a correct date format.", style = "width:145px;", Value = String.Format("{0:MM/dd/yyyy}", Model.invoicedatestart) })
                                @Html.ValidationMessageFor(model => model.invoicedatestart, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Invoice End Date</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.invoicedateend, new { @class = "form-control", data_val_date = "Not a correct date format.", style = "width:145px;", Value = String.Format("{0:MM/dd/yyyy}", Model.invoicedateend) })
                                @Html.ValidationMessageFor(model => model.invoicedateend, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="submitme" type="submit" value="Retrieve Invoices" class="btn btn-default" style="display:block;float:left;" />
                                <img id="spinner" src="~/Images/spinner.gif" style="width:63px;height:67px;display:none;float:left;" />
                            </div>
                        </div>

                    </div>


                }
            }

        }
        else
        {

            @Html.Partial("NoAccess")
        }
    }
</div>