﻿@using (Html.BeginForm("Default", "Home", FormMethod.Post, new { id = "returnform", name = "returnform" }))
{
    @Html.AntiForgeryToken()

    <div style="margin-left:auto;margin-right:auto;">

        <div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:15px;">

            @if (ViewBag.Message2 != null)
            {
                <p>
                    <span>Your invoices have been retrieved from Coupa. </span>
                    <a class="notification" href="@ViewBag.Message2"><u>Click here to download the zip file.</u></a>
                </p>
            }

            <p>
                <a class="joblink" style="text-decoration:underline;" onclick="$('#returnform').submit();">Click here to return to the search form.</a>
                Clicking this will remove the invoices from the server. Make sure you download your invoices before proceeding.
            </p>

        </div>

        <input type="hidden" name="filelocation" value="@ViewBag.Message3" />

        <input type="hidden" name="filepath" value="@ViewBag.rootpath" />

    </div>

}

