﻿@model IEnumerable<CoupaDownload.Models.Base>
@{ 
    Layout = null;
}


<script type="text/javascript">
    $('#formfilter').ready(function () {

   

        $('#searchString').keypress(function (event) {
            
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });

        $('input[name=whichMMMCU]').click(function () {
            var selValue = $('input[name=whichMMMCU]:checked').val();
            $("#jobnumber").val(selValue.trim());
            hidejobsearch();
            //$("#thisform").validate().element("#jobnumber");

        });


        $(function () {
            $('#searchbutton2').click(function () {
                $.ajax({
                    url: '/Application/CoupaDownload/Jobs',
                    dataType: 'html',
                    type: 'POST',
                    cache: false,
                    data: {
                        searchString: $("#searchString").val()
                    },
                    error: function () {
                        alert('error searching!');
                    },
                    success: function (responseText) {
                        $('#jobsearch').html(responseText);
                    }
                });
            });
        });


        $(function () {
            $('#searchString').change(function () {
                $.ajax({
                    url: '/Application/CoupaDownload/Jobs',
                    dataType: 'html',
                    type: 'POST',
                    cache: false,
                    data: {
                        searchString: $("#searchString").val()
                    },
                    error: function () {
                        alert('error searching!');
                    },
                    success: function (responseText) {
                        $('#jobsearch').html(responseText);
                    }
                });
            });
        });

    });

</script>
@{

    using (Html.BeginForm("Jobs",null, FormMethod.Post, new { name = "formfilter", id = "formfilter" }))
    { 



        <div style="border:2px solid grey; width:100%;height:40px;background-color:#dedede;text-align:center;padding-top:4px;">
            <div>
                <div style="display:inline-block;font-weight:bold;">Project No / Name:</div>
                <div style="display:inline-block;"> @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { style = "text-align:left;width:240px;" }) <img style="display:inline-block;" id="searchbutton2" src="/Images/search.png"  /></div>
            </div>

        </div>
        <div style="height:536px;overflow-y:scroll;background-color:white;">
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        Jon Number
                    </th>
                    <th>
                        Job Description
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="min-width:50px;"><input type="radio" value="@Html.DisplayFor(modelItem => item.MMMCU)" name="whichMMMCU" /> </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MMMCU)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MMDL01)
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="3" align="center">No results</td></tr>
                }

            </table>
        </div>
    }
}